

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 40px 0;
    color: #000;
    font-size:100%;
    letter-spacing: 1px; 
}
.content{
    background-color:eceff1; 
}
textarea:focus, input:focus, select:focus, select:active{
    outline: none;
    box-shadow:none;
}
.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}
a{
    text-decoration: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {outline: none;}
a,h1,h2,h3,h4,h5{cursor: pointer;}
a:focus, a:hover{text-decoration: none;}
a:focus {outline: none; outline-offset: 0;}
ul{list-style: none;}
.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent !important; }
.placeholder-fix:focus::-moz-placeholder   {color:transparent !important;}
.placeholder-fix:-moz-placeholder   {color:transparent !important;}
.logo h2 {
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom:60px;
}
.content{
    background-color:#eceff1;
    text-align: center;
}
.login-page {
    background-color: #fff;
    box-shadow: 0 0 20px 10px rgba(38, 50, 56, 0.08);
    margin: 0 auto;
    width:460px;   
     border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.login-page h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    padding:60px 0;
}
.login-page .form-control {
    background-color: #2196f3;
    background-image: none;
    border: 1px solid #2196f3;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 60px;
    letter-spacing: 1px;
    margin: 0 auto 15px;
    padding: 6px 10px;
    width: 300px;
}
.form-control::-moz-placeholder {
    color: #fff;
    font-weight: 400;
    opacity: 1;
}
.form-control::-webkit-input-placeholder{
    color: #fff;
    font-weight: 400;
    opacity: 1;
}
.login-page .btn-block {
    background-color: #d24013;
    border: medium none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 70px;
    margin-top: 45px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
}
.page-links {
    padding: 0;
    text-align: center;
    padding: 20px 0;
}
.page-links li{
    display: inline-block;
}
.page-links a {
    color: #2196f3;
    font-size: 13px;
    font-weight: 600;
    margin-right: 50px;
} 
.social-button {
    text-align: center;
}
.social-button > a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    padding: 12px 16px;
    border-radius: 4px;
}
.social-button a:first-child{
    background-color: #38538d;
}
.social-button a:last-child{
    background-color: #d62221;
    margin-right: 0px;
}
.social-button img {
    vertical-align: middle;
    margin-right: 10px;
}
.copyright {
    color: #000;
    font-size: 16px;
    margin-top: 40px;
}
.copyright a, .copyright a:hover{
    color: #2196f3;
    text-decoration: none;
}

/*media query*/
@media (max-width: 700px){
    .login-page .form-control {
        height: 45px;
        width: 250px;
        font-size: 14px;
    }
    .login-page {
        width: 400px;
    }
    .login-page h3 {
        font-size: 18px;
        padding: 45px 0;
    }
    .login-page .btn-block {
        font-size: 18px;
        height: 65px;
        margin-top: 30px;
    }
    .social-button img {
        margin-right: 5px;
        vertical-align: middle;
    }
    .social-button > a {
        font-size: 13px;
        margin-right: 15px;
        padding: 10px 12px;
    }
}
@media (max-width: 500px){
    .logo h2 {
    margin: 0;
    padding-bottom: 40px;
}
.login-page h3 {
    font-size: 16px;
    padding: 35px 0;
}
.login-page {
    width: 350px;
}
.login-page .form-control {
    font-size: 14px;
    height: 35px;
    width: 200px;
}
.login-page .btn-block {
    font-size: 16px;
    height: 55px;
    margin-top: 25px;
}
}
@media (max-width: 370px){
    .logo h2 {
    padding-bottom: 30px;
}
.logo h2 {
    font-size: 20px;
}
.login-page {
    width: 280px;
}
.login-page h3 {
    font-size: 14px;
    padding: 25px 0;
}
.login-page .form-control {
    font-size: 12px;
    height: 30px;
    width: 200px;
       margin: 0 auto 10px;
}
.login-page .btn-block {
    font-size: 14px;
    height: 45px;
    margin-top: 20px;
}
.social-button > a {
    font-size: 12px;
    margin-right: 5px;
    padding: 8px;
}
.page-links {
    padding: 10px 0;
}
}